<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="auto">1</ion-col>
        <ion-col>
          <ion-title class=".center">Numero Telefonico
          </ion-title>
        </ion-col>
        <ion-col size="auto">3</ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class=".container">
    <ion-grid>
      <ion-row>
        <ion-col size="auto"><ion-img src="assets/icon/landing-coink.png" alt="Coink_logo"></ion-img></ion-col>
        <ion-col size=""><ion-title class=".center">ingresa tu numero de celular</ion-title></ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div>
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-input type="number" placeholder="XXX-XXX-XXXX"></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>

  <div class=".buttonContainer">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col>
          <ion-button shape="round" fill="clear">1</ion-button>
        </ion-col>
        <ion-col>
          <ion-button shape="round" fill="clear">2</ion-button>
        </ion-col>
        <ion-col>
          <ion-button shape="round" fill="clear">3</ion-button>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col>
          <ion-button shape="round" fill="clear">4</ion-button>
        </ion-col>
        <ion-col>
          <ion-button shape="round" fill="clear">5</ion-button>
        </ion-col>
        <ion-col>
          <ion-button shape="round" fill="clear">6</ion-button>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col>
          <ion-button shape="round" fill="clear">7</ion-button>
        </ion-col>
        <ion-col>
          <ion-button shape="round" fill="clear">8</ion-button>
        </ion-col>
        <ion-col>
          <ion-button shape="round" fill="clear">9</ion-button>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col>
          <ion-button shape="round" fill="clear">B</ion-button>
        </ion-col>
        <ion-col>
          <ion-button shape="round" fill="clear">0</ion-button>
        </ion-col>
        <ion-col>
          <ion-button shape="round" fill="clear">A</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>