<ion-content>
  <div class="flex-center">
    <ion-card color="light">

      <ion-img class="spacer" src="assets/icon/regalo.png" alt="Coink_logo"></ion-img>

      <div class="containerMultiple">
        <ion-card-header>
          <div class="textSpacer">
            <ion-card-title class="flex-center">Bienvenido a Coink!</ion-card-title>
          </div>
          <ion-label class="text">
            ¡Cuenta creada exitosamente, tu marrano ya está listo para que empieces a ahorrar! </ion-label>
        </ion-card-header>
      </div>

      <div class="buttonContainer">
        <ion-button shape="round" color="success" class="btn" size="full">Continuar</ion-button>
      </div>

    </ion-card>
  </div>
</ion-content>