<ion-content>
  <!-- <ion-grid class=".flex-center">
      <ion-row size="auto">
        <ion-img src="assets/icon/landing-coink.png" alt="Coink_logo" class=".img"></ion-img>
      </ion-row>
    </ion-grid>
  </div> -->

  <div class="flex-center">
    <ion-img src="assets/icon/landing-coink.png" alt="Coink_logo" class="img"></ion-img>
    <div class="buttonContainer">
      <ion-grid>
        <ion-row>
          <ion-button shape="round" color="success" class="btn" size="full" (click)="register()">Regístrate</ion-button>
        </ion-row>
        <ion-row>
          <ion-button shape="round" color="warning" class="btn" size="full" (click)="login()">Ingresa</ion-button>
        </ion-row>
      </ion-grid>


    </div>
  </div>


</ion-content>