<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="auto">1</ion-col>
        <ion-col>
          <ion-title class=".center">Numero Telefonico
          </ion-title>
        </ion-col>
        <ion-col size="auto">3</ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="title">
    <ion-grid>
      <ion-row>
        <ion-col size="auto"><ion-img src="assets/icon/landing-coink.png" alt="Coink_logo"></ion-img></ion-col>
        <ion-col size="auto"><ion-title class=".center">¿Cuales son tus datos?</ion-title></ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <br>
  <br>

  <ion-text>
    <h3>Documento de Identidad</h3>
  </ion-text>

  <br>

  <div class="container">
    <div class="spacer">
      <!-- TODO: change to ion-select -->
      <ion-accordion-group>
        <ion-accordion value="first">
          <ion-item slot="header" color="light">
            <ion-label>Tipo de documento</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content"><ion-radio-group [allowEmptySelection]="true" value="CC">
              <ion-radio value="CC">Cedula de Ciudadania</ion-radio><br />
              <ion-radio value="CE">Cedula de Extranjeria</ion-radio><br />
              <ion-radio value="TI">Tarjeta de Identidad</ion-radio><br />
            </ion-radio-group></div>
        </ion-accordion>
      </ion-accordion-group>
    </div>

    <div class="spacer">
      <ion-item>
        <ion-input type="number" placeholder="Numero de documento"></ion-input>
      </ion-item>
    </div>

    <div class="spacer">
      <ion-item>
        <ion-input type="text" placeholder="Fecha de expedicion del documento"></ion-input>
      </ion-item>
    </div>

    <div class="spacer">
      <ion-item>
        <ion-input type="text" placeholder="Fecha de nacimiento"></ion-input>
      </ion-item>
    </div>

    <div class="spacer">
      <ion-accordion-group>
        <ion-accordion value="first">
          <!-- TODO: change to ion-select -->
          <ion-item slot="header" color="light">
            <ion-label>Genero</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content"><ion-radio-group [allowEmptySelection]="true" value="CC">
              <ion-radio value="CC">Masculino</ion-radio><br />
              <ion-radio value="CE">Femenino</ion-radio><br />
            </ion-radio-group></div>
        </ion-accordion>
      </ion-accordion-group>
    </div>
  </div>


  <ion-text>
    <h3>Configura tu cuenta</h3>
  </ion-text>


  <div class="container">
    <div class="spacer">
      <ion-item>
        <ion-input type="email" placeholder="Correo electronico"></ion-input>
      </ion-item>
    </div>

    <div class="spacer">
      <ion-item>
        <ion-input type="email" placeholder="Confirmar Correo Electronico"></ion-input>
      </ion-item>
    </div>

    <div class="spacer">
      <ion-input type="password" placeholder="PIN de seguridad">
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
    </div>

    <div class="spacer">
      <ion-input type="password" placeholder="Confirmar PIN de seguridad">
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
    </div>
  </div>

  <div class="buttonContainer">

    <ion-button shape="round" color="warning" class="btn" size="full">Siguiente</ion-button>
  </div>

</ion-content>